<h1>Seaching for - <%= @search_term %></h1>

<table border="1">
    <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Locatiotn</th>
        <th>Date</th>
    </tr>
    <% @dice_jobs.each do |job| %>
        <tr>
            <td><%= job["jobTitle"] %></td>
            <td><%= job["company"] %></td>
            <td><%= job["location"] %></td>
            <td><%= job["date"] %></td>
    <% end %>
</table>
