<div id="map"></div>
<div class="search_box">
    <%= form_tag action: 'index' do %>
    <div>
        <div class="search-field">
            <label for="search">Search:</label>
            <%= text_field_tag 'search', @search_term, placeholder: "Search..." %>
            <%= submit_tag "Search" %>
        </div>
        <div class="advanced-option-toggle">+ Advanced Options</div>
        <div class="advanced-search hide">
            <div class="form-field min-field">
                <label for="min">Min Exp:</label>
                <%= text_field_tag 'min', @min_experience, placeholder: "Junior, MidLevel, Senior" %>
            </div>
            <div class="form-field max-field">
                <label for="max">Max Exp:</label>
                <%= text_field_tag 'max', @max_experience, placeholder: "Junior, MidLevel, Senior" %>
            </div>
            <div class="form-field type-field">
                <label for="type">Job Type:</label>
                <%= text_field_tag 'type', @job_type,  placeholder: 'Permanent, Contract, Internship' %>
            </div>
            <div class="form-field remote-field">
                <label for="remote">Remote:</label>
                <%= check_box_tag 'remote', "true", @remote %>
            </div>
        </div>

    </div>
    <% end %>

</div>
<script type="text/javascript">
  /* TODO: Turn this into an ajax call */
  var geojson_jobs = <%= raw @stack_jobs.geo_json %>;
  $(document).ready(function() {
    stackJobs.leaflet.init();
    stackJobs.leaflet.updateGeoJsonLayer(geojson_jobs);
  });

$('.search_box form').submit(function (e) {
  e.preventDefault();
  var url = '/search?' + $('.search_box form').serialize();
  fetch(url)
    .then(res => res.json())
    .then(my_json => {
      stackJobs.leaflet.updateGeoJsonLayer(my_json);
      $('.search_box form input[type=submit]').removeAttr('disabled');
    })
    .catch(err => {
      console.error('Something went wrong: ' + err)
      $('.search_box form input[type=submit]').removeAttr('disabled');
    })

})
</script>
